In [54]:
import pandas as pd 
import numpy as np

In [55]:
categorical_series = pd.Series(['Cotton','Polyester','Wool'],
                              dtype="category")

In [56]:
categorical_series

0       Cotton
1    Polyester
2         Wool
dtype: category
Categories (3, object): [Cotton, Polyester, Wool]

In [57]:
df= pd.DataFrame({"Material":['Cotton','Polyester','Wool','Silk'],
                 "Garment":['T-shirt','Jacket','Socks','Scarf'],
                 "Size":['Medium','Large','Large','Small']})

In [58]:
df

    Material  Garment    Size
0     Cotton  T-shirt  Medium
1  Polyester   Jacket   Large
2       Wool    Socks   Large
3       Silk    Scarf   Small

In [59]:
df.dtypes

Material    object
Garment     object
Size        object
dtype: object

In [60]:
df['Material_cat']=df["Material"].astype('category')

In [61]:

df

    Material  Garment    Size Material_cat
0     Cotton  T-shirt  Medium       Cotton
1  Polyester   Jacket   Large    Polyester
2       Wool    Socks   Large         Wool
3       Silk    Scarf   Small         Silk

In [62]:
df= pd.DataFrame({"Material":['Cotton','Polyester','Wool','Silk'],
                 "Garment":['T-shirt','Jacket','Socks','Scarf'],
                 "Size":['Medium','Large','Large','Small']},
                dtype="category")

In [63]:
df

    Material  Garment    Size
0     Cotton  T-shirt  Medium
1  Polyester   Jacket   Large
2       Wool    Socks   Large
3       Silk    Scarf   Small

In [64]:
df.dtypes

Material    category
Garment     category
Size        category
dtype: object

In [65]:
df['Garment']

0    T-shirt
1     Jacket
2      Socks
3      Scarf
Name: Garment, dtype: category
Categories (4, object): [Jacket, Scarf, Socks, T-shirt]

In [66]:
df['Size']

0    Medium
1     Large
2     Large
3     Small
Name: Size, dtype: category
Categories (3, object): [Large, Medium, Small]

In [67]:
from pandas.api.types import CategoricalDtype

In [68]:
materials = CategoricalDtype(categories=['cotton','polyester','wool','silk'],
                            ordered=False)

In [69]:
materials

CategoricalDtype(categories=['cotton', 'polyester', 'wool', 'silk'], ordered=False)

In [70]:
sizes = CategoricalDtype(categories=['Small','Medium','Large'],
                        ordered=True)

In [71]:
sizes

CategoricalDtype(categories=['Small', 'Medium', 'Large'], ordered=True)

In [72]:
list_series = pd.Series(['Medium','Small','x-Large','Small'])
list_series.astype(sizes)

0    Medium
1     Small
2       NaN
3     Small
dtype: category
Categories (3, object): [Small < Medium < Large]

In [73]:
df= pd.DataFrame({"Material":['cotton','polyester','wool','silk'],
                "Garment":['T-shirt','Jacket','Socks','Scarf'],
                "Size":['Medium','Large','Large','Small']})

In [74]:
df['Material']=df['Material'].astype(materials)

In [75]:
df['Size']=df['Size'].astype(sizes)

In [76]:
df

    Material  Garment    Size
0     cotton  T-shirt  Medium
1  polyester   Jacket   Large
2       wool    Socks   Large
3       silk    Scarf   Small

In [77]:
df['Material']

0       cotton
1    polyester
2         wool
3         silk
Name: Material, dtype: category
Categories (4, object): [cotton, polyester, wool, silk]

In [78]:
df['Size']

0    Medium
1     Large
2     Large
3     Small
Name: Size, dtype: category
Categories (3, object): [Small < Medium < Large]

In [79]:
df['Garment']

0    T-shirt
1     Jacket
2      Socks
3      Scarf
Name: Garment, dtype: object

In [80]:
df[df['Material']=='cotton']

  Material  Garment    Size
0   cotton  T-shirt  Medium

In [81]:
df[df['Size']>'Small']

    Material  Garment    Size
0     cotton  T-shirt  Medium
1  polyester   Jacket   Large
2       wool    Socks   Large

In [82]:
df[df['Garment']>'Scarf']

  Material  Garment    Size
0   cotton  T-shirt  Medium
2     wool    Socks   Large

In [83]:
df['Garment']= df['Garment'].astype('category')
df['Garment']

0    T-shirt
1     Jacket
2      Socks
3      Scarf
Name: Garment, dtype: category
Categories (4, object): [Jacket, Scarf, Socks, T-shirt]

In [84]:
df[df['Garment']=='Scarf']

  Material Garment   Size
3     silk   Scarf  Small

In [85]:
df.sort_values(by=['Size'])

    Material  Garment    Size
3       silk    Scarf   Small
0     cotton  T-shirt  Medium
1  polyester   Jacket   Large
2       wool    Socks   Large

In [86]:
df['Size']= df['Size'].cat.add_categories(['X-Large', 'XX-Large'])

In [87]:
df['Size']

0    Medium
1     Large
2     Large
3     Small
Name: Size, dtype: category
Categories (5, object): [Small < Medium < Large < X-Large < XX-Large]

In [88]:
df['Material']=df['Material'].cat.add_categories(['Bamboo'])

In [89]:
df['Material']

0       cotton
1    polyester
2         wool
3         silk
Name: Material, dtype: category
Categories (5, object): [cotton, polyester, wool, silk, Bamboo]

In [90]:
df['Size']=df['Size'].cat.remove_categories(['XX-Large'])

In [91]:
df ['Size']

0    Medium
1     Large
2     Large
3     Small
Name: Size, dtype: category
Categories (4, object): [Small < Medium < Large < X-Large]

In [93]:
df['Size']=df['Size'].cat.remove_unused_categories()
df['Size']

0    Medium
1     Large
2     Large
3     Small
Name: Size, dtype: category
Categories (3, object): [Small < Medium < Large]

In [95]:
df['Size']=df['Size'].cat.set_categories(['X=small','Small','Medium','Large','X-Large'])

In [96]:
df['Size']

0    Medium
1     Large
2     Large
3     Small
Name: Size, dtype: category
Categories (5, object): [X=small < Small < Medium < Large < X-Large]

In [97]:
df

    Material  Garment    Size
0     cotton  T-shirt  Medium
1  polyester   Jacket   Large
2       wool    Socks   Large
3       silk    Scarf   Small

In [98]:
df['Size'] = df['Size'].cat.set_categories(['X-Small','Small','Medium'])

In [99]:
df['Size']

0    Medium
1       NaN
2       NaN
3     Small
Name: Size, dtype: category
Categories (3, object): [X-Small < Small < Medium]