In [1]:
import pandas as ppd
import numpy as np

In [2]:
objects_data = pd.read_csv('datasets/objects.csv')

NameError: name 'pd' is not defined

In [3]:
objects_data = ppd.read_csv('datasets/objects.csv')

In [4]:
objects_data

    object      shape  colour  quantity
0   mirror     circle  silver         1
1    wheel     circle  silver         4
2    lemon     circle  yellow         4
3      box     square   brown         3
4    bread     square   white        10
5    towel  rectangle   white         2
6   laptop  rectangle   black         1
7      pen  rectangle    blue         7
8   bottle  rectangle     red         6
9  biscuit  rectangle   brown        20

In [5]:
shape_data = objects_data.groupby('shape')

shape_data

In [6]:
shape_data.first()

           object  colour  quantity
shape
circle     mirror  silver         1
rectangle   towel   white         2
square        box   brown         3

In [7]:
shape_data.get_group('square')

  object colour  quantity
3    box  brown         3
4  bread  white        10